/* line 10, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/base/_config.scss */
html, body {
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 15, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/base/_config.scss */
* {
  font-family: Futura;
  padding: 0;
  margin: 0;
  color: #FCFFE8;
  box-sizing: border-box;
}

/* line 23, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/base/_config.scss */
img {
  max-width: 100%;
}

/* line 26, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/base/_config.scss */
li {
  list-style-type: none;
}

@media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1920px) {
  /* line 3, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_table.scss */
  table {
    background-color: #FCFFE8;
  }
  /* line 6, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_table.scss */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* line 9, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_table.scss */
  thead tr {
    position: absolute;
  }
  /* line 15, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_table.scss */
  tr {
    margin: 0 0 1rem 0;
    padding: 1rem;
  }
  /* line 19, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_table.scss */
  th {
    position: relative;
    z-index: 2;
  }
  /* line 24, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_table.scss */
  td:nth-child(odd) {
    background: #77C3C6;
  }
  /* line 27, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_table.scss */
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #000000;
    position: relative;
    padding-left: 50%;
  }
  /* line 35, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_table.scss */
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}

/* line 1, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_form.scss */
.form {
  background-color: #77C3C6;
}

/* line 3, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_form.scss */
.form input {
  background-color: #FCFFE8;
}

/* line 2, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_games-table.scss */
.games-table th {
  border-bottom: 2px solid #77C3C6;
}

/* line 5, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_games-table.scss */
.games-table td {
  font-size: .6rem;
}

@media only screen and (min-width: 599px) and (max-width: 1199px) {
  /* line 9, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_games-table.scss */
  .games-table td {
    font-size: 1rem;
    min-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 15, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_games-table.scss */
  .games-table td {
    font-size: 1.2rem;
    min-width: 100%;
  }
}

/* line 1, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_portfolio-grid.scss */
.portfolio-grid {
  background-color: #77C3C6;
}

/* line 1, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_card-title.scss */
.card-title {
  font-size: 2em;
}

/* line 4, ../../../../../Users/brianthomas/code/Ashland-soccar-app/Ashland-v4/public/sass/modules/_card-title.scss */
.card-title_h3-2 {
  font-size: 2.5rem;
  color: #FCFFE8;
}

/*# sourceMappingURL=style.css.map */