.admin-team{
    padding:2em;
    min-width: 100%;
    .form-group{
        padding: 0 4em;
    }
    table{
        padding:2em;
        display: block;
        
    }
    tbody{
        display: flex;
        justify-content: center;
    }
    tr{ 
        width: 100%;
        border: 1px solid;
        
        label{
            display:inline-block;
            width:100%;
            text-align: right;
            font-size: small;
            
        }
    }
    th{
        display:flex;  
        align-items:center;
        justify-content: space-between;
        
        @include respond-to(medium-screens){
            flex-flow: row ;
        }

    }
    &__player-info{
        display:block;
        @include respond-to(medium-screens){
            display:flex;
            justify-content: space-between;
            width: 100%;
        }
        @include respond-to(wide-screens){
            display:flex;
            justify-content: space-between;
            width: 100%;
        }
        
    }
    &__checkbox{
        position: relative;
        padding: 3rem;
        z-index:1;
        input{
            padding: 3em;
        }
    }
    
}