@media
only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1920px)  {
    table{
        background-color: $mainLight;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        // top: -9999px;
        // left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
        padding: 1rem;
    }
    th{
        position: relative;
        z-index: 2;
    }

    td:nth-child(odd) {
        background: $mainBlue;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid $primaryDark;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}