
table{
    display:flex;
    border-collapse: collapse;
    width: max-content;
    border: 1px solid black;
    margin: 3px;
    tr:nth-child(even){
        background-color: $mainBlue;
    }
    td, th{
        text-align: left;
        padding: 8px;
    }
}