p{
    font-size: 1rem;
}
.color{
    &-pd{
        color: $primaryDark;
    }
    
}
a{
    color: $mainBlue;
    list-style: none;
    text-decoration: none;
}
.align{
    &-center{
        text-align:center;
    }
    &-left{
        text-align:left;
    }
}
.padding{
    &-1{
        padding:1em;
    }
    &-2{
        padding:2em;
    }
}
.margin{
    &-1{
        margin:1em auto;
    }
    &-2{
        margin:2em auto;
    }
    
}